body {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	background-color: #F2EBBF;
	margin:10px;
}

menu {
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
    border-radius: 10px;
}

nav li {
	float:left;
}

li a:link,a:visited {
	display:inline;
	width:150px;
	font-size: 30px;
	font-family: sans-serif;
	color:white;
	background-color:#8CBEB2;
	text-align:center;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
}

li a:hover,a:active {
	transition:background-color .5s ease-out;
	background-color:#6A9D9E;
}

.log {
	font-family: sans-serif;
	text-transform: lowercase;
	color: #5C4B51;
	background-color: #F3B562;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:5px;
	padding-right:90px;
	float:left;
	border-radius: 5px;
}

.prohead {
	height:50px;
	width:300px;
	font-family: sans-serif;
	font-size: 35px;
	padding:5px;
	font-weight: bold;
	color:#5C4B51;
}

.note {
	font-family: sans-serif;
	background-color: #F06060;
	color: #5C4B51;
	padding: 5px;
	font-weight: bold;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:5px;
	padding-right:90px;
	border-radius: 10px;
}

.prodetail {
	width: 55%;
	height: 50%;
	font-family: sans-serif;
	font-weight: bolder;
	color: #5C4B51;
	list-style: none;
	padding: 10px;
	background-color: #8CBEB2;
	border-radius:10px;
	line-height:20px;
}

.title {
	font-family: sans-serif;
	position:absolute;
	margin-top: 130px;
	font-size: 75px;
	color:#5C4B51;
	font-weight: bold;
}

.subtitle {
	font-family: sans-serif;
	position:absolute;
	font-size: 45px;
	position:absolute;
	margin-top: 220px;
	color:#5C4B51;
}

.plusone {
	height:50px;
	width:70%;
	padding-top: 10px;
	padding-left:5px;
	font-size: 30px;
	font-family: sans-serif;
	background-color: #F06060;
	position:absolute;
	text-align: left;
	font-weight: bold;
	color:#5C4B51;
	border-radius: 10px;
}

.landing {
	width: 400px;
	height: 100px;
	font-size: 50px;
	font-family: sans-serif;
	padding-top: 20px;
	position:absolute;
	margin-top: 320px;
	color:#5C4B51;
}

.nouser {
	width: 700px;
	height: 100px;
	font-size: 50px;
	font-family: sans-serif;
	padding-top: 20px;
	position:absolute;
	margin-top: 320px;
	color:#5C4B51;
}

.edit a{
	padding:10px;
	width:150px;
	height:30px;
	font-size: 25px;
	font-family: sans-serif;
	text-decoration: none;
	color:#5C4B51;
	background-color:#F3B562;
	position:absolute;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
}

.edit a:hover {
	color:#F06060;
	background-color:#5C4B51;
	transition:background-color .5s ease-out;
}

.postform {
	position:absolute;
	height:40px;
	width:800px;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	color:#5C4B51;
	background-color:#8CBEB2;
	padding:30px;
	border:5px;
	display:block;

}

.submit {
	font-family: sans-serif;
	font-size: 20px;
	height: 40px;
	width:100px;
	color:#5C4B51;
	background-color:#F3B562;
	margin-top: 75px;
}

article {
	font-family: sans-serif;
	color:#5C4B51;
	background-color: #8CBEB2;
	border-radius:10px;
	padding-left:8px;
	width:70%;
	height:110px;
}

article p {
	font-size: 20px;
}

article time {
	font-size: 10px;
}

.unfollow a{
	width:100px;
	height:25px;
	font-size: 20px;
	font-family: sans-serif;
	text-decoration: none;
	color:#5C4B51;
	background-color:#F3B562;
	position:absolute;
	margin-top: 2px;
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 5px;
}

.unfollow a:hover {
	color:#F06060;
	background-color:#5C4B51;
	transition:background-color .5s ease-out;
}

.follow a{
	width:100px;
	height:25px;
	font-size: 20px;
	font-family: sans-serif;
	text-decoration: none;
	color:#5C4B51;
	background-color:#F3B562;
	position:absolute;
	margin-top: 2px;
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 5px;
}

.follow a:hover {
	color:white;
	background-color:#8CBEB2;
	transition:background-color .5s ease-out;
}

.proedithead {
	height:50px;
	width:700px;
	font-family: sans-serif;
	font-size: 35px;
	padding:5px;
	font-weight: bold;
	color:#5C4B51;
	position: relative;
	margin-top: 20px;
}

.profileedit {
	width: 55%;
	height: 120px;
	font-family: sans-serif;
	font-weight: bolder;
	color: #5C4B51;
	list-style: none;
	padding: 10px;
	background-color: #8CBEB2;
	border-radius:10px;
	line-height:20px;
}

.proeditsubmit {
	font-family: sans-serif;
	font-size: 20px;
	width:200px;
	color:#5C4B51;
	background-color:#F3B562;
	position:relative;
}

.profileedit input {
	border-radius: 10px;
	background-color: #F3B562;
	color:#5C4B51;
	font-family:sans-serif;
}

.login {
	width: 55%;
	height: 80px;
	font-family: sans-serif;
	font-weight: bolder;
	color: #5C4B51;
	list-style: none;
	padding: 10px;
	background-color: #8CBEB2;
	border-radius:10px;
	line-height:20px;
}

.login input {
	border-radius: 10px;
	background-color: #F3B562;
	color:#5C4B51;
	font-family:sans-serif;
}

.loginsubmit {
	font-family: sans-serif;
	font-size: 20px;
	width:100px;
	color:#5C4B51;
	background-color:#F3B562;
	position:relative;
}

